asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
cloudinary==1.29.0
dj-database-url==0.5.0
Django==4.0.1
django-cleanup==6.0.0
django-cloudinary-storage==0.3.0
django-environ==0.8.1
gunicorn==20.1.0
idna==3.3
Pillow==9.0.1
python-dateutil==2.4.2
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
tldextract==1.6
tzdata==2021.5
unicodecsv==0.13.0
urllib3==1.26.8
whitenoise==6.0.0
psycopg2==2.9.3
