@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');



html{
    height: 100%;
}

.card-border{
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

.title{
    display: block;
    font-size: 32px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

