{%extends 'base/main.html' %}

{% block content %}

<div class="container-fluid w-auto" style="margin-top:300px">
            <div class="" style="margin-top:200px">
                <div class="rounded d-flex justify-content-center">
                    <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                        <div class="text-center">
                            <h3 class="text-dark">Sign In</h3>
                        </div>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="p-4">
                                <div class="form-group mb-3">
                                    <label>{{ form.username.label }}</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group mb-3">
                                    <label>{{ form.password.label }}</label>
                                    {{ form.password }}
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input btn-outline-dark" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Remember Me
                                    </label>
                                </div>
                                <button class="btn btn-dark text-center mt-2" type="submit" value="Login">
                                    Login
                                </button>
                                <p class="text-center mt-5">Don't have an account?
                                    <a href="{% url 'register' %}">Register</a></p>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>





{% endblock content %}