

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    {% if request.path == '/login/' %}
        <title>Welcome to TODOapp</title>
    {% endif %}

    {% if request.path == '/register/' %}
        <title>Welcome to TODOapp</title>
    {% endif %}

    {% if request.path == '/' %}
        <title>TODO - Tasks</title>
    {% endif %}

    {% if request.path == '/task-create/' %}
        <title>TODO - Create task</title>
    {% endif %}
    
    {% if request.path == '/completed/' %}
        <title>TODO - Completed tasks</title>
    {% endif %}

    {% if request.path == '/incompleted/' %}
        <title>TODO - Incompleted tasks</title>
    {% endif %}

    {% if '/task/' or '/task-update/' in request.path %}
        <title>TODO - {{ task.title }}</title>
    {% endif %}
    <link rel="icon" href="{% static 'images/logo.png' %}">

    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href='{% static "bootstrap.min.css" %}'>
    
    
</head>
<body class="d-flex flex-column min-vh-100">
    <!--NAVBAR-->
    {% if request.user.is_authenticated %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'tasks' %}">
                <img src="{% static 'images/logo.png' %}" alt="">
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-weight:700; font-family: 'Inter', sans-serif; width:100%;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                        <span class="navbar-text"> <i> {{request.user}} </i></span>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}


                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'tasks' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/task-create/' %}active{% endif %}" href="{% url 'task-create' %}">Add Task</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/completed/' %}active{% endif %}" href="{% url 'completed-tasks' %}">Completed</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/incompleted/' %}active{% endif %}" href="{% url 'incompleted-tasks' %}">Incompleted</a></li>

                    {% if '/task/' or '/task-update/' in request.path %}
                        <li class="nav-item"><a class="nav-link active" href="">{{task.title}}</a></li>
                    {% endif %}
                </ul>

                

                <form class="d-flex" method="GET" >
                    <input class="form-control me-2" type="text" name="search-area" placeholder="Search Tasks" value="{{ search_input|default_if_none:'' }}">
                    <button type="submit" class="btn btn-outline-light" value="Search">Search</button>
                    
                </form>
                
                
            
            </div>    
        </div>    
    </nav>
    {% endif %}
    <div class="container-xs py-3 px-5 clear-top">
        {% block content %}

        
        {% endblock content %}
    </div>




    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'preview.js' %}"></script>

</body>
</html>