

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="stylesheet" href='{% static "bootstrap.min.css" %}''>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <!--NAVBAR-->
    {% if request.user.is_authenticated %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'tasks' %}">
                <img src="{% static 'images/logo.png' %}" alt="">
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                        <span class="navbar-text">{{request.user}}</span>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}


                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'tasks' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/task-create/' %}active{% endif %}" href="{% url 'task-create' %}">Add Task</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/completed/' %}active{% endif %}" href="{% url 'completed-tasks' %}">Completed</a></li>
                
                
                </ul>
            </div>
    
            <ul class="nav-item nav justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
                <form method="GET" action="">
                    <input  type="text" name="search-area" value="{{ search_input }}">
                    <button type="submit" class="btn btn-outline-light" value="Search">Search</button>
                    
                </form>
            </ul>

            
        </div>    
            
    </nav>
    {% endif %}
    <div class="container-fluid py-3 px-5">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>