
{%extends 'base/main.html' %}
{% load static %}


{% block content %}

<div class="container-fluid w-auto" style="margin-top:250px">
    <div class="" style="margin-top:200px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center pb-3">
                    <h3 class="text-dark" style="font-family: 'Inter', sans-serif;">Reset Password</h3>
                </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <table class="table">
                        <p style="text-align: center;">An email will be sent with instructions to reset your password. Make sure to check the "spam" section in case you don't find the email.</p>
                        <tr>
                            <td><label style="font-family: 'Inter', sans-serif;" for="id_email">Email</label></td>
                            <td><input id="id_email" name="email" 
                                    type="text" class="form-control"></td>
                        </tr>
                    </table>
                    
                    {{form.email.errors}}

                    <div style="font-family: 'Inter', sans-serif;" class="float-end">
                        <a class="btn btn-dark  text-center mt-2" value="Login" href="{% url 'login' %}" >
                        Back to login
                    </a>
                    <button class="btn btn-dark text-center mt-2" type="submit" value="">
                        Send
                    </button>
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock content %}