{%extends 'base/main.html' %}
{% block content %}


<div class="container-fluid w-auto" style="margin-top: 200px;">
    <div class="" style="margin-top:100px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-dark" style="font-family: 'Inter', sans-serif;">Reset Password</h3>
                </div>
            

                <div class="p-4">
                    <div class="form-group mb-3">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <table class="table">
                                <tr>
                                    <td><label style="font-family: 'Inter', sans-serif;" for="id_new_password1">New Password</label></td>
                                    <td><input id="id_new_password1" autocomplete="new-password" required name="new_password1" 
                                            type="password" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td><label style="font-family: 'Inter', sans-serif;" for="id_new_password2"> Confirm New Password</label></td>
                                    <td><input id="id_new_password2" autocomplete="new-password2" required name="new_password2" 
                                        type="password" class="form-control"></td>
                                    
                                            

                                </tr>
                                
                            </table>
                            
                            
                            <p style="text-align: center;">{{form.errors}}</p>
                            

                               
            
                            <button class="btn btn-dark float-end text-center mt-2" type="submit" value="Login">
                                Reset
                            </button>
                            
                            
                                
                            
                        </form>
                        
                    </div>
                </div>

            </div>       
        </div>       
    </div>
</div>

{% endblock content %}