{%extends 'base/main.html' %}
{% block content %}


<div class="container-fluid w-auto" style="margin-top: 100px;">
    <div class="" style="margin-top:100px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-dark">Sign In</h3>
                </div>
            

                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="p-4">
                                <div class="form-group mb-3">
                                    {% for field in form %}
                                    <p>
                                        {{ field.label_tag }}<br>
                                        {{ field }}<br>
                                        {% if field.help_text %}
                                          <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                          <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                      </p>
                                    {% endfor %}
                                <button class="btn btn-dark text-center mt-2" type="submit" value="Login">
                                    Register
                                </button>
        
                                <p class="text-center mt-5">Already have an account
                                    <a href="{% url 'login' %}">login</a></p>
                                </p>




                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}