{%extends 'base/main.html' %}

{% block content %}


<div class="container">
    <div class="" style="margin-top:10px">
        <div class="rounded">
            <div class="p-3 bg-light form-group">
                
                <h1 style="font-family: 'Inter', sans-serif;">Task</h1>
                <hr>
                <h2 style="font-family: 'Inter', sans-serif;">{{task.title}}</h2>
                
                

                {% if task.image %}

                    <img src="{{ task.image.url }}" class="img-thumbnail col-4" style="width: 20rem;"> 
                
                {%else%}

                    <img src="/static/images/homework.jpg" class="img-thumbnail col-4" style="width: 20rem;">

                {%endif%}

                <br>

                <div class="pt-3">

                <p style="font-size: 30px;">{{ task.description }}</p>
                
                </div>

                <br>
                <br>

                {% if task.complete %}

                    <h4 class="alert alert-success">Task is complete!</h4>
                
                {% else %}

                    <h4 class="alert alert-danger">Task is not complete!</h4>
                
                {% endif %}

                <hr>
                
                <div class="container">
                        <div class="float-start">
                            <td><a class="btn btn-dark" href="{% url 'tasks' %}">Go back</a></td>
                        </div>
                        <div class="form-group float-end">
                            <td><a class="btn btn-dark" href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a class="btn btn-danger" href="{% url 'task-delete' task.id %}">Delete</a></td>
                        </div>
                </div>

                <br>
                <br>

            </div>
        </div>
    </div>
</div>





{% endblock content %}