
{%extends 'base/main.html' %}
{% load static %}


{% block content %}

<div id="tareas">
<div style="font-weight:700; font-family: 'Inter', sans-serif;" class="pb-5">
    <p class="text-center h1">Hi, these are your tasks</p>
    <h4 class="text-center pb-3 pt-3">You have {{ count }} incomplete tasks</h4>

    
        
            <div class=" float-end ">

                <form class="dropdown" action="" method="get">
                    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        sort by
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><button class="dropdown-item" type="submit" name="ordering" value="title" href="#">A to Z</button></li>
                        <li><button class="dropdown-item" type="submit" name="ordering" value="-created" href="#">Datetime (most recent first)</button></li>
                    </ul>
                <!--<button type="submit" name="ordering" value="title" class="btn btn-dark" href="">Sort by</button>-->
                
                
                <a class="btn btn-dark" href="{% url 'task-create' %}">Add Task</a>
                </form>
            </div>
        
</div>

    <div class="container ps-5 p">
        <div class="row ">
            {%for task in tasks %}
            <div class="col-auto container">
                <div class="card card-border mb-5 shadow-lg" style="width: 18rem;"> 

                    <a href="{% url 'task' task.id %}" class="card-brand">
                    <img src="{% if task.image %} {{task.image.url}} {%else%} {% static 'images/homework.jpg' %} {%endif%} " class="card-img-top fiximage" style="height: 15rem;" alt="...">
                    </a>
                    <div class="card-body">
                        
                            <h5 class="card-title" style="font-weight:700; font-family: 'Inter', sans-serif; width:100%;">{{ task.title|slice:":18" }}...</h5>
                            <p class="card-text" style="">{{ task.description|slice:":25" }}...</p>
                            <a class="btn btn-dark" href="{% url 'task' task.id %}">View</a></td>
                            <td><a class="btn btn-dark" href="{% url 'task-update' task.id %}">Edit</a></td>
                            <td><a class="btn btn-danger" href="{% url 'task-delete' task.id %}">Delete</a></td>
                        
                    </div>

                </div>
            </div>
            {% empty %}
                <h3 style="font-family: 'Inter', sans-serif;">No items in list</h3>
            {% endfor %}

        </div>
    </div>

    {% if counttasks > 8 %}
    {% endif %}

    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}



{% endblock content %}