{%extends 'base/main.html' %}
{% block content %}



<div class="container-xxl w-auto">
    <div class="" style="margin-top:10px">
        <div class="rounded">
            <div class="col-md-auto col-sm-auto p-3 bg-light form-group">

                <h3>Task Form</h3>
                <a href="{% url 'tasks' %}">Go back</a>

                <form method="POST" action="">
                    {%csrf_token%}
                    <div class="p-4">
                
                            <label>{{ form.title.label }}</label>
                            {{form.title}}
                            <div class="form-group mb-3">
                                <label>{{ form.description.label }}</label>
                                
                                <textarea name="description" class="form-control" id="id_description" rows="10"></textarea>
                                
                            </div>
                            <div class="form-group mb-3">
                                <label>{{ form.complete.label }}</label>
                                {{form.complete}}
                            </div>

                                <button class="btn btn-dark" type="submit" value="Submit">Done</button>
                    
                    </div>
                   

                </form>

            </div>
        </div>
    </div>
</div>


{% endblock content %} 