{%extends 'base/main.html' %} 
{% block content %}



<div class="container w-auto">
    <div class="" style="margin-top:10px">
        <div class="rounded">
            <div class="col-md-auto col-sm-auto p-3 bg-light form-group text-center">

                <form method="POST">
                    {% csrf_token %}
                <h1>Are you sure you want to delete this task? "{{task}}"</h1>

                <hr>
                <h3>"{{task}}" will be removed and will be unrecoverable</h3>

                <br>
                <br>

                <a class="btn btn-dark" href="{% url 'tasks' %}">Go back</a>
                <input type="submit" value="Delete" class="btn btn-danger">
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}